<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>NhimEye CMS</display-name>
    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>${productionMode}</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:META-INF/spring/applicationContext*.xml</param-value>
    </context-param>

    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>NHIMEYE Application Servlet</servlet-name>
        <servlet-class>com.nhimeye.admin.NhimEyeServlet</servlet-class>
        <init-param>
            <param-name>UI</param-name>
            <param-value>com.nhimeye.admin.DashboardUI</param-value>
        </init-param>
        <init-param>
            <param-name>UIProvider</param-name>
            <param-value>com.nhimeye.admin.DashboardUIProvider</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>NHIMEYE Application Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>